// =========================================================
// * Astro Ecommerce - v1.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/astro
// * Copyright 2023 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "astro-ecommerce/bootstrap/functions";

// Custom Variables
@import "astro-ecommerce/custom/variables";

// Theme Variables
@import "astro-ecommerce/variables";

// Bootstrap Core
@import "astro-ecommerce/bootstrap/bootstrap";

// Theme Core
@import "astro-ecommerce/theme";

// Custom Variables
@import "astro-ecommerce/custom/styles";

.hamburger-button {
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: none;
  background-color: #333;
  color: white;
}
.nav-links a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #111;
}
