.card {
  &.card-product {
    img {
      object-fit: cover;
    }
  }

  & a {
    .height__adjust {
      height: 25rem;
    }
    @media (min-width: 700px) {
      .height__adjust {
        height: 15rem;
      }
    }
  }

  .ch-8 {
    height: 8rem;
  }

  .badge {
    border: 1px solid $light;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
    transition: $transition-base;

    &:hover,
    &.active {
      border-color: $dark;
    }
  }
}
